:root {
  --label-x-small-font-family: "IRANSansXVF", Helvetica;
  --label-x-small-font-weight: 700;
  --label-x-small-font-size: 12px;
  --label-x-small-letter-spacing: 0px;
  --label-x-small-line-height: 20px;
  --label-x-small-font-style: normal;
  --label-small-font-family: "IRANSansXVF", Helvetica;
  --label-small-font-weight: 700;
  --label-small-font-size: 14px;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 24px;
  --label-small-font-style: normal;
  --paragraph-x-small-font-family: "IRANSansXVF", Helvetica;
  --paragraph-x-small-font-weight: 400;
  --paragraph-x-small-font-size: 12px;
  --paragraph-x-small-letter-spacing: 0px;
  --paragraph-x-small-line-height: 20px;
  --paragraph-x-small-font-style: normal;
  --title-h5-title-font-family: "IRANSansXVF", Helvetica;
  --title-h5-title-font-weight: 700;
  --title-h5-title-font-size: 18px;
  --title-h5-title-letter-spacing: 0px;
  --title-h5-title-line-height: normal;
  --title-h5-title-font-style: normal;
  --desktop-paragraph-small-font-family: "IRANSansXVF", Helvetica;
  --desktop-paragraph-small-font-weight: 400;
  --desktop-paragraph-small-font-size: 14px;
  --desktop-paragraph-small-letter-spacing: 0px;
  --desktop-paragraph-small-line-height: 24px;
  --desktop-paragraph-small-font-style: normal;
  --desktop-label-small-font-family: "IRANSansXVF", Helvetica;
  --desktop-label-small-font-weight: 700;
  --desktop-label-small-font-size: 14px;
  --desktop-label-small-letter-spacing: 0px;
  --desktop-label-small-line-height: 24px;
  --desktop-label-small-font-style: normal;
  --label-2x-small-font-family: "IRANSansXVF", Helvetica;
  --label-2x-small-font-weight: 700;
  --label-2x-small-font-size: 10px;
  --label-2x-small-letter-spacing: 0px;
  --label-2x-small-line-height: 16px;
  --label-2x-small-font-style: normal;
  --title-h2-title-font-family: "IRANSansXVF", Helvetica;
  --title-h2-title-font-weight: 700;
  --title-h2-title-font-size: 36px;
  --title-h2-title-letter-spacing: 0px;
  --title-h2-title-line-height: 64px;
  --title-h2-title-font-style: normal;
  --paragraph-small-font-family: "IRANSansXVF", Helvetica;
  --paragraph-small-font-weight: 400;
  --paragraph-small-font-size: 14px;
  --paragraph-small-letter-spacing: 0px;
  --paragraph-small-line-height: 24px;
  --paragraph-small-font-style: normal;
  --title-h3-title-font-family: "IRANSansXVF", Helvetica;
  --title-h3-title-font-weight: 700;
  --title-h3-title-font-size: 24px;
  --title-h3-title-letter-spacing: 0px;
  --title-h3-title-line-height: 48px;
  --title-h3-title-font-style: normal;
  --paragraph-2x-small-font-family: "IRANSansXVF", Helvetica;
  --paragraph-2x-small-font-weight: 400;
  --paragraph-2x-small-font-size: 10px;
  --paragraph-2x-small-letter-spacing: 0px;
  --paragraph-2x-small-line-height: 16px;
  --paragraph-2x-small-font-style: normal;
  --label-medium-font-family: "IRANSansXVF", Helvetica;
  --label-medium-font-weight: 700;
  --label-medium-font-size: 16px;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: 32px;
  --label-medium-font-style: normal;
}
